<script>
		themeSetting = {
	checkoutChat : true,
	checkoutMarketplace : false,
	checkoutLink : true,
	ckcText : "Beli Sekarang",
	ckmText : "Beli via Marketplace",
	cklText : "Order Sekarang",
	jmlhproduk : true,
	nama : true,
	email : true,
	notelp : false,
	alamat : true,
	provinsi : false,
	kota : false,
	kodepos : false,
	pembayaran : true,
	pembayaranTitle : "Metode Pembayaran",
	nomorWa : 6281229900928,
	waBtnText : "Chat WA Admin",
	waPesan : "Halo admin, saya mau order:",
	checkoutChatNote : "Harga belum termasuk ongkos kirim",
	formError : "Form wajib diisi",
	loopProdukImage : false,
	loopBanner : true,
	loopTestimonial : true,
	autoSlideProdukImage : true,
	autoSlideBanner : true,
	autoSlideTestimonial : true,
	autoSlideTimer : 3,
	shareFacebook : true,
	shareTwitter : true,
	shareWhatsapp : true,
	shareTelegram : true,
	darkMode : true,
	autoDarkMode : true,
	popupBoxActive : true,
	openPopupBoxAfter : 3,
	disablePopupBoxDays : 1,
	relatedPosts : false,
	jumlahRelatedPosts : 4,
	jumlahRecentPosts : 6,
	ajaxHomePagination : true,
	rekbank: [
		"BCA",
		"BRI",
		"OVO",
		"DANA",
	],
};
</script>
