<aside id='testimonial-container'><div class='testimonial-title'><h2>Testimoni</h2></div><div id='testimonial-widget-container'><div class='testimonial-widget section' id='testimonial-widget'>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML323'>
<div class='widget-content'>
Saya sudah berlangganan di {{ site.title }} sejak dua tahun yang lalu, tak pernah mengecewakan.
</div>
</div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML324'>
<div class='widget-content'>
Barang telah sampai tujuan dengan selamat. habis bayar langsung masuk ke email. luar biasa :)
</div>
</div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML325'>
<div class='widget-content'>
ebook {% if page.title %}{{ page.title }}{% endif %} sangat bagus... Sesuai dengan pesanan, Seller baik sangat membantu. Nggak nyesel deh pokoknya order, smg ilmunya bermanfaat. makasih {{ site.title }} semoga sehat selalu semua.  Aamiin.
</div>
</div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML326'>
<div class='widget-content'>
sabdaliterasi.shop is the BEST 👍 Paket buku yang saya order sudah sampai dan saya terima dengan sangat baik. Produknya original, kualitasnya bagus, kecepatan kirim sesuai estimasi, juga respon sellernya sangat bagus. RECOMENDED seller 👍 Thanks, toko {{ site.title }}..
</div>
</div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML327'>
<div class='widget-content'>
Siang, ini saya Suradi Yasil telah menerima  kiriman buku Etika Nikomakea sesuai pesanan saya. Saya gembira dan mengapresiasi pelayanan Anda. Makasih
</div>
</div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML328'> <div class='widget-content'>
    Bukunya sudah saya terima, terimakasih. Senang bisa berbelanja di {{ site.title }}
    </div> </div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML329'> <div class='widget-content'>
    Pak pesanan bukunya sudah saya terima. Terima kasih atas kerja samanya. Lain waktu mudah-mudahan bisa kerjasama lagi.
    </div> </div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML330'> <div class='widget-content'>
    Bukunya sudah saya terima, terimakasih. Senang bisa berbelanja di {{ site.title }}
    </div> </div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML330'> <div class='widget-content'>
    Buku feminisme:sebuah pengantar singkat sudah saya terima. Terima kasih, makasih {{ site.title }}. Saya sangat puas dengan pelayanannya, harap dipertahankan dan semoga {{ site.title }} makin maju.
    </div> </div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML327'> <div class='widget-content'>
    Selamat siang,
Ya, saya sudah menerima buku itu. Kamus itu sangat baik. Terima kasih!
Jong-Guk Bak
    </div> </div>
  <div class='widget HTML testimonial-item' data-version='2' id='HTML327'> <div class='widget-content'>
    Terima kasih, pelayanannya cepat dan memuaskan :)
    </div> </div>
  
</div></div></aside><script> (function() { var noTesti = document.querySelector(".testimonial-widget.no-items"); if (noTesti) { document.querySelector("#testimonial-container").style.display = "none"; } })(); </script>